.particle-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #021027;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
}

.circle-container {
  position: absolute;
  width: 8px;
  height: 8px;
  animation: moveUp linear infinite;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    hsl(180, 100%, 80%),
    hsl(180, 100%, 80%) 10%,
    hsla(180, 100%, 80%, 0) 56%
  );
  animation: scalePulse 2s infinite;
  mix-blend-mode: screen;
}

@keyframes moveUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-10vh);
  }
}

@keyframes scalePulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.message {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
  text-align: right;
  opacity: 0;
  animation: fadeIn 1.5s ease 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
